<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>汽修落地页</title>
    <link rel="stylesheet" href="./landing_static/css/element-ui.css">
    <link rel="stylesheet" href="./landing_static/css/main.css?v=8">
    <link rel="stylesheet" href="./landing_static/css/car_landing.css?v=7">
</head>

<body>
    <div id="app" v-cloak>
        <div class="header">
            <p>汽修商家联盟</p>
        </div>
        <!-- <div class="banner">
            <img src="./landing_static/image/banner.png" alt="">
        </div> -->
        <div class="content">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="您的车型" prop="type">
                    <el-input v-model="ruleForm.type" placeholder="请输入您的车型"></el-input>
                </el-form-item>
                <el-form-item label="您的需求" prop="demand">
                    <el-select v-model="ruleForm.demand" placeholder="请选择类型">
                        <el-option label="汽车检修" value="汽车检修"></el-option>
                        <el-option label="汽车美容" value="汽车美容"></el-option>
                        <el-option label="升级改装" value="升级改装"></el-option>
                        <el-option label="汽车保养" value="汽车保养"></el-option>
                        <el-option label="配件更换" value="配件更换"></el-option>
                        <el-option label="其他" value="其他"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="您的号码" prop="phone">
                    <el-input v-model="ruleForm.phone" maxlength="11" placeholder="请输入您的手机号"></el-input>
                </el-form-item>
                <el-form-item label="您的姓名" prop="name">
                    <el-input v-model="ruleForm.name" placeholder="请输入您的姓名"></el-input>
                </el-form-item>
                <p class="tips">*您提供的信息我们将严格保密，请放心填写！</p>
                <div class="submit_btn"  @click="submitForm('ruleForm')">全城比价 领取体验券</div>
            </el-form>
        </div>
        <div class="mobile_block" style="display: none;">
            <div class="banner">
                <p>汽修商家联盟</p>
                <img src="./landing_static/image/banner_m.png" alt="">
            </div>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="您的车型" prop="type">
                    <el-input v-model="ruleForm.type" placeholder="请输入您的车型"></el-input>
                </el-form-item>
                <el-form-item label="您的需求" prop="demand">
                    <el-select v-model="ruleForm.demand" placeholder="请选择类型">
                        <el-option label="汽车检修" value="汽车检修"></el-option>
                        <el-option label="汽车美容" value="汽车美容"></el-option>
                        <el-option label="升级改装" value="升级改装"></el-option>
                        <el-option label="汽车保养" value="汽车保养"></el-option>
                        <el-option label="配件更换" value="配件更换"></el-option>
                        <el-option label="其他" value="其他"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="您的号码" prop="phone">
                    <el-input v-model="ruleForm.phone" maxlength="11" placeholder="请输入您的手机号"></el-input>
                </el-form-item>
                <el-form-item label="您的姓名" prop="name">
                    <el-input v-model="ruleForm.name" placeholder="请输入您的姓名（可不填）"></el-input>
                </el-form-item>
            </el-form>
            <p class="tips">*您提供的信息我们将严格保密，请放心填写！</p>
            <div class="submit_btn"  @click="submitForm_m('ruleForm')">全城比价 领取体验券</div>
        </div>
        <p class="copyright">版权：湖南工含信息科技有限公司</p>
        <!-- 移动端提示 -->
        <div class="confim_block" v-if="confimShow">{{confim_text}}</div>
        <!-- 弹窗 -->
        <div class="modal-bg" v-show="showDialog">
            <div class="modal-container">
                <div class="modal-header">
                    <img src="/landing_static/image/tips1.png" alt="">
                </div>
                <div class="modal-main">
                    <p>您的需求我们已收集</p>
                    <p>体验券已生成，优质商家将为您服务</p>
                </div>
                <div class="modal-footer">
                    <!-- <div class="cancel" @click="cancel">取消</div> -->
                    <div class="confirm" @click="confirm">知道了</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 第三方定位 -->
    <iframe id="geoPage" width=0 height=0 frameborder=0  style="display:none;" scrolling="no" src="https://apis.map.qq.com/tools/geolocation?key=ST4BZ-6N26P-VIKD6-LPJJN-SLMK5-RCFQM&referer=搜搜地图"></iframe>
</body>

<script src="./landing_static/js/vue.min.js"></script>
<script src="./landing_static/js/jQuery.js"></script>
<script src="./landing_static/js/element-ui.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            guest: {},
            showDialog: false, //弹窗显示
            confimShow: false, //提示框显示
            confim_text: '', //提示框信息
            baseURL: 'http://server.yingku878.com/',
            ruleForm: {
                type: '',
                demand: '',
                phone: '',
                name: '',
            },
            rules: {
                type: [
                    { required: true, message: '请输入您的车型', trigger: 'blur' },
                    { min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur' }
                ],
                demand: [
                    { required: true, message: '请选择您的需求', trigger: 'change' }
                ],
                phone: [
                    { required: true, message: '请输入您的手机号', trigger: 'blur' },
                    { pattern: /^1[3|4|5|6|7|8|9]\d{9}$/, message: '输入正确手机号', trigger: 'blur',},
                ],
                name: [
                    { required: false, message: '请输入您的姓名', trigger: 'blur' },
                    { min: 2, max: 6, message: '长度在 2 到 6 个字符', trigger: 'blur' }
                ],
            }
        },
        mounted() {
            this.getCity()
        },
        methods: {
            // 获取省市
            getCity() {
                this.sendAddress().then(result => {
                    // console.log(result)
                    this.guest.province = result.province.split('省')[0]
                    this.guest.city = result.city.split('市')[0]
                })
            },
            // 第三方获取城市传值
            async sendAddress() {
                return new Promise(resolve => {
                    window.addEventListener('message', function(event) {
                        var loc = event.data;
                        loc ? resolve(loc) : false
                    }, false);
                })
            },
            // 弹窗确认
            confirm() {
                this.showDialog = false
            },
            //显示提示框
            showConfim(text, time) {
                let setTiem = time || 850
                this.confim_text = text
                this.confimShow = true
                setTimeout(() => {
                    this.confimShow = false
                }, setTiem)
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let obj = {
                            type: 3, //类型：1--装修，2--餐饮，3--汽修，14--房产
                            name: this.ruleForm.name,
                            mobile: this.ruleForm.phone,
                            province: this.guest.province || '',
                            city: this.guest.city || '全国',
                            car: this.ruleForm.type,
                            requirement: this.ruleForm.demand
                        }
                        // console.log(obj)
                        // return false
                        $.ajax({
                            url: `${this.baseURL}?r=api/user/customer`,
                            type: "post",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(obj),
                            dataType: "json",
                            success: (res) => {
                                // console.log(res)
                                this.showDialog = true
                                // this.$refs[formName].resetFields();
                            },
                            error: (errore) => {
                                // console.log(errore);
                            }
                        });
                    } else {
                        // console.log('error submit!!');
                        return false;
                    }
                });
            },
            //移动端表单
            submitForm_m(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let obj = {
                            type: 3, //类型：1--装修，2--餐饮，3--汽修，14--房产
                            name: this.ruleForm.name || '',
                            mobile: this.ruleForm.phone,
                            province: this.guest.province || '',
                            city: this.guest.city || '全国',
                            car: this.ruleForm.type,
                            requirement: this.ruleForm.demand
                        }
                        // console.log(obj)
                        // return false
                        $.ajax({
                            url: `${this.baseURL}?r=api/user/customer`,
                            type: "post",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(obj),
                            dataType: "json",
                            success: (res) => {
                                // console.log(res)
                                this.showConfim('提交成功')
                                // this.$refs[formName].resetFields();
                            },
                            error: (errore) => {
                                // console.log(errore);
                            }
                        });
                    } else {
                        // console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a6f274483cf1778e5dbe1fe669f221";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>