<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>买房落地页</title>
    <link rel="stylesheet" href="./landing_static/css/element-ui.css">
    <link rel="stylesheet" href="./landing_static/css/vant.css">
    <link rel="stylesheet" href="./landing_static/css/main.css">
    <link rel="stylesheet" href="./landing_static/css/house_buy_landing.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="navbar">
            <div class="left">
                <a class="arrow" href="./house_landing.html"></a>
            </div>
            <p class="title">买房落地页</p>
            <div class="right"></div>
        </div>
        <div class="banner">
            <img src="./landing_static/image/house_landing/banner2.png" alt="">
            <div class="loaction" @click="showPopup">{{guest.city || '全国'}}</div>
        </div>
        <div class="content">
            <h3>您打算在哪里安家呢？</h3>
            <div id="area" class="item_block">
                <div
                    :class="[areaIndex == index ? 'item on' : 'item']"
                    v-for="(item, index) in areaList"
                    :key="index"
                    @click="areaCheck(index,item)"
                >
                    {{item.name}}
                </div>
            </div>
            <!-- <div class="show_more">查看更多</div> -->
            <h3>哪种户型与您最匹配呢？</h3>
            <div id="type" class="item_block">
                <div
                    :class="[typeIndex == index ? 'item on' : 'item']"
                    v-for="(item, index) in typeList"
                    :key="index"
                    @click="typeCheck(index,item)"
                >
                    {{item}}
                </div>
            </div>
            <h3>您打算花多少钱买房呢？</h3>
            <div id="cash" class="select_block" @click="showCashBlock">
                <div class="cash_block">{{guest.minCash}}</div>
                <div class="my_border"></div>
                <div class="cash_block">{{guest.maxCash}}</div>
            </div>
            <van-popup v-model="showCash" round position="bottom">
                <van-picker
                    show-toolbar
                    :columns="cashList"
                    @cancel="showCash = false"
                    @confirm="cashOnConfirm"
                />
            </van-popup>
            <h3>怎么联系您呢？</h3>
            <div class="input_block">
                <el-input type="tel" v-model="guest.phone" maxlength="11" placeholder="请输入您的手机号码"></el-input>
            </div>
        </div>
        <p class="copyright">版权：合肥金堡网络科技有限公司</p>
        <div class="submit_btn" @click="submit">免费咨询</div>
        <div class="confim_block" v-if="confimShow">{{confim_text}}</div>
         <!-- picker弹出层 -->
         <van-popup v-model="showPicker" round position="bottom">
            <van-picker
                show-toolbar
                :columns="columns"
                @cancel="showPicker = false"
                @confirm="onConfirm"
            />
        </van-popup>
    </div>
    <!-- 第三方定位 -->
    <iframe id="geoPage" width=0 height=0 frameborder=0  style="display:none;" scrolling="no" src="https://apis.map.qq.com/tools/geolocation?key=ST4BZ-6N26P-VIKD6-LPJJN-SLMK5-RCFQM&referer=搜搜地图"></iframe>
</body>

<script src="./landing_static/js/vue.min.js"></script>
<script src="./landing_static/js/jQuery.js"></script>
<script src="./landing_static/js/element-ui.js"></script>
<script src="./landing_static/js/vant.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            guest: {
                minCash: '100',
                maxCash: '150'
            },
            baseURL: 'http://server.yingku878.com/',
            areaIndex: null,
            typeIndex: null,
            confimShow: false, //提示框显示
            confim_text: '', //提示框信息
            showCash: false,
            showPicker: false,
            columns: [],
            cashList: [
                {
                    values: ['30', '40', '50', '60', '70', '80', '90', '100'],
                    defaultIndex: 7,
                },
                {
                    values: ['150', '160', '170', '180', '190', '200', '400', '600', '800', '1000', '1400', '1800', '2000'],
                    defaultIndex: 0,
                },
            ],
            areaList: [],
            typeList: ['不限', '一居室', '二居室', '三居室', '四居室', '别墅', '复式', '其他'],
        },
        mounted() {
            // console.log(Array.prototype)
            this.getCity()
            this.getAllCity()
        },
        methods: {
            // 获取省市
            getCity() {
                this.sendAddress().then(result => {
                    // console.log(result)
                    this.guest.province = result.province.split('省')[0]
                    this.guest.city = result.city.split('市')[0]
                    this.getAreaList()
                }).catch(error => {
                    // this.showConfim('定位失败')
                    this.showPicker = true
                })
            },
            // 第三方获取城市传值
            async sendAddress() {
                return new Promise(resolve => {
                    window.addEventListener('message', function(event) {
                        var loc = event.data;
                        loc ? resolve(loc) : false
                    }, false);
                })
            },
            // 根据省市获取区级
            getAreaList() {
                $.post(`${this.baseURL}?r=api/index/district-list`, {
                    province: this.guest.province,
                    city: this.guest.city
                }, res => {
                    if (res.code === 200) {
                        this.areaList = res.data
                    }
                })
            },
            // 获取全国并格式化数据
            getAllCity() {
                $.post(`${this.baseURL}?r=api/index/district`, {}, res => {
                    if (res.code === 200) {
                        // console.log(res.data)
                        let arr = res.data
                        let newArr = []
                        arr.forEach(item => {
                            newArr.push({
                                text: item.province,
                                children: []
                            })
                        })
                        let cityArr = []
                        let result = []
                        arr.forEach((item, index) => {
                            cityArr.push(item.city)
                            this.$set(result, index, [])
                        })
                        cityArr.forEach((item,index) => {
                            item.forEach(v => {
                                result[index].push({
                                    text: v
                                })
                            })
                        })
                        newArr.forEach((item, index) => {
                            item.children = result[index]
                        })
                        // console.log(newArr)
                        this.columns = newArr
                    }
                })
            },
            // 显示picker
            showPopup() {
                this.showPicker = true
            },
            // picker选中
            onConfirm(value) {
                // console.log(value)
                this.showPicker = false
                this.guest.province = value[0]
                this.guest.city = value[1]
                this.getAreaList()
            },
            // 显示picker
            showCashBlock() {
                this.showCash = true
                document.getElementById("cash").scrollIntoView({
                    behavior: "smooth",
                    block: "center"
                })
            },
            // 选择金额
            cashOnConfirm(value) {
                this.guest.minCash = value[0]
                this.guest.maxCash = value[1]
                this.showCash = false
            },
            // 地区切换
            areaCheck(index, item) {
                this.areaIndex = index
                this.guest.area = item.name
                document.getElementById("area").scrollIntoView({
                    behavior: "smooth",
                    block: "center"
                })
            },
            // 户型切换
            typeCheck(index, item) {
                this.typeIndex = index
                this.guest.type = item
                document.getElementById("type").scrollIntoView({
                    behavior: "smooth",
                    block: "center"
                })
            },
            //显示提示框
            showConfim(text, time) {
                let setTiem = time || 850
                this.confim_text = text
                this.confimShow = true
                setTimeout(() => {
                    this.confimShow = false
                }, setTiem)
            },
            // 表单提交
            submit() {
                if (!this.guest.area) {
                    this.showConfim('请选择区域')
                    return false
                }
                if (!this.guest.type) {
                    this.showConfim('请选择户型')
                    return false
                }
                if (!this.guest.phone) {
                    this.showConfim('请输入手机号')
                    return false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.phone))) {
                    this.showConfim('请输入正确的手机号')
                    return false
                }
                let obj = {
                    type: 14, //类型：1--装修，2--餐饮，3--汽修，14--房产
                    house_type: '买房',
                    name: '',
                    mobile: this.guest.phone,
                    province: this.guest.province,
                    city: this.guest.city,
                    district: this.guest.area,
                    house_layout: this.guest.type,
                    price: `${this.guest.minCash}万-${this.guest.maxCash}万`
                }
                // console.log(obj)
                // return false
                $.ajax({
                    url: `${this.baseURL}?r=api/user/customer`,
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: (res) => {
                        // console.log(res)
                        this.showConfim('提交成功')
                    },
                    error: (errore) => {
                        // console.log(errore);
                    }
                });
            }
        }
    })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a6f274483cf1778e5dbe1fe669f221";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>