<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地图落地页</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="left">
                <div class="title">
                    <p class="main">装修计算器</p>
                    <p class="off">今天已有<span>{{1396}}</span>位业主获取了装修预算</p>
                </div>
                <div class="form_block">
                    <div class="item">
                        <div class="label">所在城市</div>
                        <div class="select_block">
                            <div>
                                <select name="" v-model="areaSelected" @change="onChange($event)" required>
                                    <option value="" selected>省/市</option>
                                    <option v-for="(item, index) in areaList" :value="item.province" :key="index">
                                        {{item.province}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <select name="" v-model="citySelected" @change="onChange2($event)" required>
                                    <option value="" selected>市/区</option>
                                    <option v-for="(item, index) in checkList" :value="item" :key="index">
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">房屋面积</div>
                        <div class="input_block area">
                            <input type="number" placeholder="请输入建筑面积">
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">装修风格</div>
                        <div class="input_block">
                            <select name="" id="" required>
                                <option value="" selected>请选择装修风格</option>
                                <option>现代简约风</option>
                                <option>田园风格</option>
                                <option>中式风格</option>
                                <option>欧式风格</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="label">房屋类型</div>
                        <div class="radio_block">
                            <div @click="checkItem(0)">
                                <img src="/static/image/on.png" alt="">
                                <p>新房</p>
                            </div>
                            <div @click="checkItem(1)">
                                <img src="/static/image/off.png" alt="">
                                <p>二手房/老房</p>
                            </div>
                        </div>
                    </div> -->
                    <div class="item">
                        <div class="label">手机号码</div>
                        <div class="input_block">
                            <input type="text" placeholder="请输入获取报价的真实号码">
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">您的姓名</div>
                        <div class="input_block">
                            <input type="text" placeholder="请输入您的真实姓名">
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="title">您家的装修预算<span>{{182346}}</span>元</div>
                <div class="content">
                    <p>材料费:<span>{{76356}}</span>元</p>
                    <p>人工费:<span>{{6796}}</span>元</p>
                    <p>设计费:<span>{{9356}}</span>元</p>
                    <p>质检费:<span>{{1063}}</span>元</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script src="/static/js/vue.js"></script>
<!-- <script src="/static/js/vue.min.js"></script> -->
<script src="http://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            areaList: [],  // 省市数据
            cityList: [], //市级数据
            checkList: [], //省级对应的市级数据
            items: [{
                    // id: 11,
                    name: '分类1',
                    city: ['北京','上海','南京']
                },
                {
                    // id: 22,
                    name: '分类2',
                    city: ['宝马','奔驰','奥迪']
                },
                {
                    // id: 33,
                    name: '分类3',
                    city: ['酸菜鱼','小笼包','烤鸭']
                }
            ],
            areaSelected: '',
            citySelected: '',
            baseURL: 'http://server.yingku878.com/',
            message: 'Hello Vue!'
        },
        created() {
            // console.log('ready')
            // this.areaSelected = '省/市';
            // this.citySelected = '市/区';
            this.getAreaList()
        },
        undated() {
            console.log(111)
        },
        methods: {
            // 获取省市
            getAreaList() {
                $.post(`${this.baseURL}?r=api/index/district`, {}, res => {
                    if (res.code === 200) {
                        this.areaList = res.data
                        this.areaList.forEach(item => {
                            this.cityList.push(item.city)
                        })
                        console.log(this.cityList)
                    }
                })
            },
            // 省级下拉监听
            onChange(e) {
                console.log(e.target.value)
                let value = e.target.value
                let index = this.areaList.findIndex(item => item.province == value)
                // console.log(index)
                let result = this.cityList.filter((v,i) => i == index)
                this.checkList = result.flat()
                // this.citySelected = '--'
            },
            // 市级下拉监听
            onChange2(e) {
                console.log(e.target.value)
            },
        }
    })
</script>