<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>保险咨询</title>
    <link rel="stylesheet" href="./landing_static/css/main.css?v=9">
    <link rel="stylesheet" href="./landing_static/css/insurance_mix.css?v=1">
</head>

<body>
    <div id="app" v-cloak>
        <div class="banner">
            <img src="./landing_static/image/insurance_landing/banner.png" alt="">
        </div>
        <div id="block0" class="block" style="padding-top: 2.6rem;">
            <div class="chat_block">
                <img class="fl avatar" :src="adviser" alt="">
                <p class="fl ask_word">您好，我是保险顾问，很高兴能为您服务，请问您想购买哪类保险？</p>
            </div>
            <div class="chat_block">
                <img class="fr avatar" :src="me" alt="">
                <ul class="type_box">
                    <li :class="{on: checkIndex == index}" v-for="(item, index) in insuranceType" :key="index"
                        @click="checkType(index)">
                        <img :src="item.avatar" alt="">
                        <p>{{item.title}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 保险 -->
        <div class="insurance_block" v-if="showType==0">
            <div id="block1" class="block">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请问您想为谁购买保险？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <ul class="sel_box">
                        <li :class="{on: checkIndex == index}" v-for="(item, index) in people" :key="index"
                            @click="checkGuest(item, index)">
                            <img :src="item.avatar" alt="">
                            <p>{{item.title}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="block2" class="block" :style="{visibility: visibility2}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">您想为<span class="m_name">{{guest.for}}</span>购买什么样类型的保险呢？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <ul class="sel_box sel_box2">
                        <li :class="{on: item.check}" v-for="(item, index) in insurance" :key="index"
                            @click="checkInsurance(item, index)">
                            <img :src="url+(index+1)+'.png'" alt="">
                            <p>{{item.title}}</p>
                        </li>
                        <li>
                            <div class="submit_btn" @click="_insurance">确定</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="block3" class="block" :style="{visibility: visibility3}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">您<span class="m_name">{{guest.for}}</span>有社保吗？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all sel_box_3">
                        <span data-data="1" :class="{active: socialIndex==1}" @click="checkSocial">有</span>
                        <span data-data="0" :class="{active: socialIndex==0}" @click="checkSocial">没有</span>
                    </div>
                </div>
            </div>
            <div id="block4" class="block" :style="{visibility: visibility4}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请问您<span class="m_name">{{guest.for}}</span>的出生年份</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all sel_box_4">
                        <select id="year" name="year" @Change="changeAge">
                            <option value="">请选择</option>
                            <option v-for="(item, index) in yearSpan" :value="yearEnd-index" :key="index"
                                :selected="(yearEnd-index)==yearDefault">
                                {{yearEnd-index}}
                            </option>
                        </select>
                        <!-- <span class="age_sure" @click="checkAge">确定</span> -->
                    </div>
                </div>
            </div>
            <div id="block5" class="block" :style="{visibility: visibility5}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">好的，那我应该如何与您联系？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="sel_box fill_box">
                        <div class="fill_msg"><input type="text" id="name" v-model="guest.name" placeholder="姓名" /></div>
                        <div class="fill_msg"><input type="tel" id="tel" v-model="guest.tel" placeholder="电话" /></div>
                        <div class="fill_msg">
                            <select id="province" v-model="areaSelected" @change="areaChange">
                                <option v-for="(item, index) in areaList" :value="item.province" :key="index">
                                    {{item.province}}
                                </option>
                            </select>
                        </div>
                        <div class="fill_msg">
                            <select id="city" v-model="citySelected" @change="cityChange">
                                <option v-for="(item, index) in checkList" :value="item" :key="index">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="sure" id="fll_sure" @click="submit_mobile">确定</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 车险 -->
        <div class="car_block" v-if="showType==1">
            <div id="car1" class="block">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请填写您的车牌号</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all">
                        <div class="input_block">
                            <input type="text" id="car_num" v-model="guest.car_num" maxlength="11" @change="carNumChange" placeholder="请输入您的车牌号" />
                        </div>
                        <span class="age_sure" @click="carCheck('number')">确定</span>
                    </div>
                </div>
            </div>
            <div id="car2" class="block" :style="{visibility: car_visibility2}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请填写您的车价</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all">
                        <div class="input_block">
                            <input type="tel" id="car_price" v-model="guest.car_price" maxlength="5" placeholder="您的车价(万元)" />
                        </div>
                        <span class="age_sure" @click="carCheck('price')">确定</span>
                    </div>
                </div>
            </div>
            <div id="car3" class="block" :style="{visibility: car_visibility3}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">好的，那我应该如何与您联系？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="sel_box fill_box">
                        <div class="fill_msg"><input type="text" id="name" v-model="guest.name" placeholder="姓名" /></div>
                        <div class="fill_msg"><input type="tel" id="tel" v-model="guest.tel" placeholder="电话" /></div>
                        <div class="fill_msg">
                            <select id="province" v-model="areaSelected" @change="areaChange">
                                <option v-for="(item, index) in areaList" :value="item.province" :key="index">
                                    {{item.province}}
                                </option>
                            </select>
                        </div>
                        <div class="fill_msg">
                            <select id="city" v-model="citySelected" @change="cityChange">
                                <option v-for="(item, index) in checkList" :value="item" :key="index">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="sure" id="fll_sure" @click="car_submit">确定</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 理财 -->
        <div class="cash_block" v-if="showType==2">
            <div id="cash1" class="block">
                <div class="chat_block"  @click="cash_submit">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请选择投入金额</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all">
                        <div class="cashList_block">
                            <div
                                v-for="(item,i) in cashList"
                                :key="i"
                                :class="{on: cashIndex==i}"
                                @click="cashChange(item,i)"
                                >
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cash2" class="block" :style="{visibility: cash_visibility2}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请选择您的性别</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all">
                        <div class="cashList_block">
                            <div :class="{on: sexIndex==1}" @click="sexChange(1)">男</div>
                            <div :class="{on: sexIndex==2}" @click="sexChange(2)">女</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cash3" class="block" :style="{visibility: cash_visibility3}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">请输入您的年龄</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="fr sel_box_all">
                        <div class="input_block">
                            <input type="tel" id="age" v-model="guest.age" maxlength="3" placeholder="请输入您的年龄" />
                        </div>
                        <span class="age_sure" @click="ageCheck">确定</span>
                    </div>
                </div>
            </div>
            <div id="cash4" class="block" :style="{visibility: cash_visibility4}">
                <div class="chat_block">
                    <img class="fl avatar" :src="adviser" alt="">
                    <p class="fl ask_word">好的，那我应该如何与您联系？</p>
                </div>
                <div class="chat_block">
                    <img class="fr avatar" :src="me" alt="">
                    <div class="sel_box fill_box">
                        <div class="fill_msg"><input type="text" id="name" v-model="guest.name" placeholder="姓名" /></div>
                        <div class="fill_msg"><input type="tel" id="tel" v-model="guest.tel" placeholder="电话" /></div>
                        <div class="fill_msg">
                            <select id="province" v-model="areaSelected" @change="areaChange">
                                <option v-for="(item, index) in areaList" :value="item.province" :key="index">
                                    {{item.province}}
                                </option>
                            </select>
                        </div>
                        <div class="fill_msg">
                            <select id="city" v-model="citySelected" @change="cityChange">
                                <option v-for="(item, index) in checkList" :value="item" :key="index">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="sure" id="fll_sure" @click="cash_submit">确定</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block" v-show="showSuccess">
            <div class="chat_block">
                <img class="fl avatar" :src="adviser" alt="">
                <div class="fl ask_word">收到，我会尽快与您联系，请保持通讯畅通哦～</div>
            </div>
        </div>
        
        <div class="fill" :style="fillHeight" v-show="showfill"></div>
        <!-- 移动端提示 -->
        <div class="confim_block" v-if="confimShow">{{confim_text}}</div>
        <div class="copyright">
            <p>*您提供的信息我们将严格保密，请放心填写！</p>
            <p>重庆庄华电子商务有限公司</p>
        </div>
    </div>
    <!-- 第三方定位 -->
    <iframe id="geoPage" width=0 height=0 frameborder=0 style="display:none;" scrolling="no"
        src="https://apis.map.qq.com/tools/geolocation?key=ST4BZ-6N26P-VIKD6-LPJJN-SLMK5-RCFQM&referer=搜搜地图"></iframe>
</body>

<script src="./landing_static/js/vue.min.js"></script>
<script src="./landing_static/js/jQuery.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a6f274483cf1778e5dbe1fe669f221";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?659dd92acfa9bcdd3559ed84a43d2bce";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            guest: {},
            checkIndex: null,
            socialIndex: null,
            cashIndex: null,
            sexIndex: null,
            visibility2: 'hidden',
            visibility3: 'hidden',
            visibility4: 'hidden',
            visibility5: 'hidden',
            visibility6: 'hidden',
            car_visibility1: 'hidden',
            car_visibility2: 'hidden',
            car_visibility3: 'hidden',
            car_visibility4: 'hidden',
            cash_visibility1: 'hidden',
            cash_visibility2: 'hidden',
            cash_visibility3: 'hidden',
            cash_visibility4: 'hidden',
            showType: null, // 显示保险页
            showfill: false,
            yearSpan: null, // 出生年份跨度
            yearStart: null,
            yearEnd: null,
            yearDefault: null,
            confimShow: false,
            showSuccess: false,
            areaList: [],
            cityList: [],
            checkList: [],
            areaSelected: null,
            citySelected: null,
            fillHeight: null,
            baseURL: 'http://server.yingku878.com/', //接口请求地址
            adviser: './landing_static/image/insurance_landing/robot.png',
            me: './landing_static/image/insurance_landing/mine.png',
            url: './landing_static/image/insurance_landing/pic',
            cashList: ['1-2万','2-5万','5万以上'],
            insuranceType: [
                {
                    avatar: './landing_static/image/insurance_landing/type_origin.png',
                    title: '保险'
                },
                {
                    avatar: './landing_static/image/insurance_landing/type_car.png',
                    title: '车险'
                },
                {
                    avatar: './landing_static/image/insurance_landing/type_cash.png',
                    title: '理财'
                },
            ],
            insurance: [{
                    title: '人寿险'
                },
                {
                    title: '健康险'
                },
                {
                    title: '意外险'
                },
                {
                    title: '财产险'
                },
                {
                    title: '旅游险'
                },
            ],
            people: [{
                    avatar: './landing_static/image/insurance_landing/me.png',
                    title: '自己',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/husband.png',
                    title: '丈夫',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/wife.png',
                    title: '妻子',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/father.png',
                    title: '父亲',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/mother.png',
                    title: '母亲',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/daughter.png',
                    title: '女儿',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
                {
                    avatar: './landing_static/image/insurance_landing/son.png',
                    title: '儿子',
                    yearSpan: 60,
                    yearStart: 1950,
                    yearEnd: 2020,
                    // yearDefault: 1985
                },
            ],
        },
        created() {
            this.getFlat()
        },
        mounted() {
            this.getCity()
            this.getAreaList()
        },
        methods: {
            // flat兼容
            getFlat() {
                // 兼容ie数组没有flat方法
                if (!Array.prototype.flat) {
                    Array.prototype.flat = function (count) {
                        let c = count || 1;
                        let len = this.length;
                        let exe = [];
                        if (this.length == 0) return this;
                        while (c--) {
                            let _arr = [];
                            let flag = false;
                            if (exe.length == 0) {
                                flag = true;
                                for (let i = 0; i < len; i++) {
                                    if (this[i] instanceof Array) {
                                        exe.push(...this[i]);
                                    } else {
                                        exe.push(this[i]);
                                    }
                                }
                            } else {
                                for (let i = 0; i < exe.length; i++) {
                                    if (exe[i] instanceof Array) {
                                        flag = true;
                                        _arr.push(...exe[i]);
                                    } else {
                                        _arr.push(exe[i]);
                                    }
                                }
                                exe = _arr;
                            }
                            if (!flag && c == Infinity) {
                                break;
                            }
                        }
                        return exe;
                    };
                }
            },
            // 获取省市
            getCity() {
                this.sendAddress().then(result => {
                    this.areaSelected = result.province.split('省')[0]
                    if (this.areaSelected) {
                        let index = this.areaList.findIndex(item => item.province == this.areaSelected)
                        let result = this.cityList.filter((v, i) => i == index)
                        result.unshift('请选择城市')
                        this.checkList = result.flat()
                        this.citySelected = this.checkList[0]
                    }
                    // this.guest.city = result.city.split('市')[0]
                })
            },
            // 第三方获取城市传值
            async sendAddress() {
                return new Promise(resolve => {
                    window.addEventListener('message', function (event) {
                        var loc = event.data;
                        loc ? resolve(loc) : false
                    }, false);
                })
            },
            // 获取省市
            getAreaList() {
                $.post(`${this.baseURL}?r=api/index/district`, {}, res => {
                    if (res.code === 200) {
                        this.areaList = res.data
                        this.areaList.unshift({
                            province: '请选择省份'
                        })
                        this.checkList.unshift('请选择城市')
                        this.areaList.forEach(item => {
                            this.cityList.push(item.city)
                        })
                        this.areaSelected = this.areaList[0].province
                        this.citySelected = this.checkList[0]
                    }
                })
            },
            //显示提示框
            showConfim(text, time) {
                let setTiem = time || 850
                this.confim_text = text
                this.confimShow = true
                setTimeout(() => {
                    this.confimShow = false
                }, setTiem)
            },
            // 选中投保类型
            checkType(index) {
                this.showType = index
                this.showSuccess = false
                this.showfill = false
                $('html,body').animate({
                    scrollTop: 320
                }, 500);
            },
            // 选中投保人
            checkGuest(item, index) {
                // console.log(item, index);
                this.checkIndex = index
                this.guest.for = item.title
                this.visibility2 = ''
                // this.yearSpan = item.yearSpan
                this.yearStart = item.yearStart
                this.yearEnd = item.yearEnd
                this.yearDefault = item.yearDefault
                this.yearSpan = (item.yearEnd - item.yearStart)+1
                this.showfill = true
                this.showDetails('block',2)
            },
            // 选中保险
            checkInsurance(item, index) {
                // console.log(item, index);
                if (item.hasOwnProperty('check')) {
                    this.$delete(item, 'check')
                } else {
                    this.$set(item, 'check', 1)
                }
                let result = this.insurance.filter(item => {
                    return item.check
                })
                if (result.length) {
                    let newArr = []
                    result.forEach(item => {
                        newArr.push(item.title)
                    })
                    let str = newArr.join(',')
                    this.guest.buy_case = str
                } else {
                    this.guest.buy_case = null
                }
            },
            // 确认保险
            _insurance() {
                let result = this.insurance.filter(item => {
                    return item.check
                })
                if (result.length) {
                    let newArr = []
                    result.forEach(item => {
                        newArr.push(item.title)
                    })
                    let str = newArr.join(',')
                    this.guest.buy_case = str
                    this.visibility3 = ''
                    this.showDetails('block',3)
                } else {
                    this.showConfim('请至少选择一项保障需求')
                }
            },
            // 是否有社保
            checkSocial(e) {
                let index = e.target.dataset.data
                index == 1 ? this.guest.has_social = '有' : this.guest.has_social = '没有'
                this.socialIndex = index
                this.visibility4 = ''
                this.showDetails('block',4)
            },
            // 确认年龄
            checkAge() {
                let birth = this.guest.birth
                if(!birth || birth == '请选择')  {
                    this.showConfim('请输入年龄')
                    return false
                }
                this.visibility5 = ''
                this.showDetails('block',5)
            },
            // 切换年龄监听
            changeAge(e) {
                this.guest.birth = e.target.value
                this.visibility5 = ''
                this.showDetails('block',5)
            },
            // 切换省份
            areaChange(e) {
                let value = e.target.value
                let index = this.areaList.findIndex(item => item.province == value)
                let result = this.cityList.filter((v, i) => i == index)
                result.unshift('请选择城市')
                this.checkList = result.flat()
                this.citySelected = this.checkList[0]
            },
            // 点击翻页方法
            showDetails(type, num) {
                console.log('shoDetails!');
                this.showfill = true
                // var el = document.getElementById(`block${num}`);
                let height = document.documentElement.clientHeight // 整个页面高度
                let topheight = $(`#${type}${num}`).offset().top; //dom距离顶部高度
                let domHeight = $(`#${type}${num-1}`).height(); //上一个dom元素高度
                let moveHeight = topheight - domHeight/2
                // console.log(moveHeight);
                this.fillHeight = `height:${height/1.5}px`
                $('html,body').animate({
                    scrollTop: moveHeight
                }, 500);
                
            },
             // 车险需求确认
             carCheck(type) {
                switch (type) {
                    case 'number':
                        if (!this.guest.car_num) {
                            this.showConfim('请填写车牌号！')
                            return false
                        }
                        this.showDetails('car',2)
                        this.car_visibility2 = ''
                        break;
                    case 'price':
                        if (!this.guest.car_price) {
                            this.showConfim('请填写车价！')
                            return false
                        }
                        this.showfill = true
                        this.car_visibility3 = ''
                        this.showDetails('car',3)
                        
                        break;
                    default:
                        break;
                }
            },
            // 车牌号输入监听
            carNumChange() {
                console.log(111);
            },
            // 投保金额切换
            cashChange(item, index) {
                this.cashIndex = index
                this.guest.invest_price = item
                this.showDetails('cash',2)
                this.cash_visibility2 = ''
            },
            // 性别切换
            sexChange(index) {
                this.sexIndex = index
                index == 1 ? this.guest.sex = '男' : this.guest.sex = '女'
                this.showDetails('cash',3)
                this.cash_visibility3 = ''
            },
            //年龄确定
            ageCheck() {
                if (!this.guest.age) {
                    this.showConfim('请输入年龄')
                    return false
                }
                this.showDetails('cash',4)
                this.cash_visibility4 = ''
                this.showfill = true
            },
            // 市级下拉监听
            cityChange(e) {
                // console.log(e.target.value)
            },
            
            // 表单提交
            postFormData(obj) {
                // this.showSuccess = true
                // return false
                $.ajax({
                    url: `${this.baseURL}?r=api/user/customer`,
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: (res) => {
                        // console.log(res)
                        this.showConfim('提交成功')
                        this.guest = {}
                        setTimeout(() => {
                            this.showSuccess = true
                        }, 500)
                    },
                    error: (errore) => {
                        // console.log(errore);
                    }
                });
            },
            // 车险表单提交
            car_submit() {
                if (!this.guest.car_num) {
                    this.showConfim('请输入您的车牌号')
                    return false
                }
                if (!this.guest.car_price) {
                    this.showConfim('请输入您的车价')
                    return false
                }
                if (!this.guest.name) {
                    this.showConfim('请输入您的姓名')
                    return false
                }
                if (!this.guest.tel) {
                    this.showConfim('请输入您的电话')
                    return false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.tel))) {
                    this.showConfim('电话输入格式错误')
                    return false
                }
                if (!this.areaSelected || this.areaSelected == '请选择省份') {
                    this.showConfim('请选择省份')
                    return false
                }
                if (!this.citySelected || this.citySelected == '请选择城市') {
                    this.showConfim('请选择城市')
                    return false
                }
                let obj = {
                    name: this.guest.name,
                    mobile: this.guest.tel,
                    province: this.areaSelected,
                    city: this.citySelected,
                    car_num: this.guest.car_num,
                    car_price: this.guest.car_price+'万元',
                    birth: '',
                    for: '',
                    has_social: '没有',
                    buy_case: '',
                    insurance_type: this.insuranceType[this.showType].title,
                    type: 21
                }
                this.postFormData(obj)
            },
            // 理财表单提交
            cash_submit() {
                if (!this.guest.invest_price) {
                    this.showConfim('请选择投入金额')
                    return false
                }
                if (!this.guest.sex) {
                    this.showConfim('请选择性别')
                    return false
                }
                if (!this.guest.age) {
                    this.showConfim('请输入年龄')
                    return false
                }
                if (!this.guest.name) {
                    this.showConfim('请输入您的姓名')
                    return false
                }
                if (!this.guest.tel) {
                    this.showConfim('请输入您的电话')
                    return false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.tel))) {
                    this.showConfim('电话输入格式错误')
                    return false
                }
                if (!this.areaSelected || this.areaSelected == '请选择省份') {
                    this.showConfim('请选择省份')
                    return false
                }
                if (!this.citySelected || this.citySelected == '请选择城市') {
                    this.showConfim('请选择城市')
                    return false
                }
                let obj = {
                    name: this.guest.name,
                    mobile: this.guest.tel,
                    province: this.areaSelected,
                    city: this.citySelected,
                    invest_price: this.guest.invest_price,
                    sex: this.guest.sex,
                    age: 23,
                    birth: '',
                    for: '',
                    has_social: '没有',
                    buy_case: '',
                    insurance_type: this.insuranceType[this.showType].title,
                    type: 21
                }
                console.log(obj)
                // this.showConfim('成功!')
                // return false
                this.postFormData(obj)
            },
            // 移动端表单提交
            submit_mobile() {
                let birth = this.guest.birth
                if (!this.guest.buy_case) {
                    this.showConfim('请至少选择一项保障需求')
                    return false
                }
                if(!birth || birth == '请选择')  {
                    this.showConfim('请输入年龄')
                    return false
                }
                if (!this.guest.name) {
                    this.showConfim('请输入您的姓名')
                    return false
                }
                if (!this.guest.tel) {
                    this.showConfim('请输入您的电话')
                    return false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.tel))) {
                    this.showConfim('电话输入格式错误')
                    return false
                }
                if (!this.areaSelected || this.areaSelected == '请选择省份') {
                    this.showConfim('请选择省份')
                    return false
                }
                if (!this.citySelected || this.citySelected == '请选择城市') {
                    this.showConfim('请选择城市')
                    return false
                }
                let obj = {
                    name: this.guest.name,
                    mobile: this.guest.tel,
                    province: this.areaSelected,
                    city: this.citySelected,
                    birth: this.guest.birth,
                    for: this.guest.for,
                    has_social: this.guest.has_social,
                    buy_case: this.guest.buy_case,
                    insurance_type: this.insuranceType[this.showType].title,
                    type: 21
                }
                // console.log(obj)
                // this.showConfim('成功!')
                this.postFormData(obj)
            },
        }
    })
</script>

</html>