<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>地图落地页</title>
    <link rel="stylesheet" href="./landing_static/css/vant.css">
    <link rel="stylesheet" href="/landing_static/css/main.css">
    <link rel="stylesheet" href="/landing_static/css/index.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="loaction" @click="showPopup">{{guest.city || '全国'}}</div>
        <div class="container">
            <div class="left">
                <div class="title">
                    <p class="main">装修计算器</p>
                    <p class="off">今天已有<span>{{visits}}</span>位业主获取了装修预算</p>
                </div>
                <div class="form_block">
                    <div class="item">
                        <div class="label">所在城市</div>
                        <div class="select_block">
                            <div :class="{warn: noAreas}">
                                <select v-model="areaSelected" @change="areaChange" required>
                                    <!-- <option value="" selected>省/市</option> -->
                                    <option v-for="(item, index) in areaList" :value="item.province" :key="index">
                                        {{item.province}}
                                    </option>
                                </select>
                                <div v-if="noAreas" class="warning">请选择所在地</div>
                            </div>
                            <div :class="{warn: noCity}">
                                <select v-model="citySelected" @change="cityChange" required>
                                    <!-- <option value="" selected>市/区</option> -->
                                    <option v-for="(item, index) in checkList" :value="item" :key="index">
                                        {{item}}
                                    </option>
                                </select>
                                <div v-if="noCity" class="warning">请选择所在地</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">房屋面积</div>
                        <div :class="[noArea ? 'input_block area warn' : 'input_block area']">
                            <input type="tel" v-model="guest.area" @focus="getfocus('area')" maxlength="4"
                                placeholder="请输入建筑面积">
                            <div v-if="noArea" class="warning">请填写房屋面积</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">装修风格</div>
                        <div :class="[noStyle ? 'input_block warn' : 'input_block']">
                            <select v-model="styleSelected" @change="styleChange" required>
                                <option value="" selected>请选择装修风格</option>
                                <option>现代简约</option>
                                <option>简约风格</option>
                                <option>田园风格</option>
                                <option>欧式风格</option>
                                <option>中式风格</option>
                            </select>
                            <div v-if="noStyle" class="warning">请选择装修风格</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">手机号码</div>
                        <div :class="[noMobile || realMobile ? 'input_block warn' : 'input_block']">
                            <input type="tel" v-model="guest.mobile" maxlength="11" @focus="getfocus('mobile')"
                                placeholder="请输入获取报价的真实号码">
                            <div v-if="noMobile" class="warning">请填写手机号码</div>
                            <div v-if="realMobile" class="warning">请填写正确的手机号</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">您的姓名</div>
                        <div :class="[noName ? 'input_block warn' : 'input_block']">
                            <input type="text" v-model="guest.name" @focus="getfocus('name')" placeholder="请输入您的真实姓名">
                            <div v-if="noName" class="warning">请填写真实姓名</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="title">您家的装修预算<span>{{total_cost || '?'}}</span>元</div>
                <div class="content">
                    <p>材料费:<span>{{material_cost || '?'}}</span>元</p>
                    <p>人工费:<span>{{labour_cost || '?'}}</span>元</p>
                    <p>设计费:<span>{{design_cost || '?'}}</span>元</p>
                    <p>质检费:<span>{{quality_cost || '?'}}</span>元</p>
                </div>
            </div>
            <div class="submit_block danger">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="content" @click="submit">
                    <p>开始</p>
                    <p>计算</p>
                </div>
            </div>
        </div>
        <!-- 手机适配 -->
        <div class="mobile_block" style="display: none;">
            <div class="content">
                <div class="title">
                    <span v-if="showMobile==0">您的户型</span>
                    <span v-if="showMobile==1">装修风格</span>
                    <span v-if="showMobile==2">获取报价</span>
                </div>
                <!-- 房屋面积 -->
                <div class="area_block" v-if="showMobile==0">
                    <div class="area_item" v-for="(item, index) in acreage" :key="index">
                        <div :class="{'on': acreageIndex == index}" @click="acreageCheck(item,index)">
                            <p>{{item.text}}</p>
                            <p>{{item.font}}</p>
                        </div>
                    </div>
                </div>
                <!-- 装修风格 -->
                <div class="style_block" v-if="showMobile==1">
                    <div class="style_item" v-for="(item, index) in houseStyle" :key="index">
                        <div :class="{'on': styleIndex == index}" @click="styleCheck(item.title,index)">
                            <img :src="item.img" alt="">
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                </div>
                <!-- 获取报价 -->
                <div class="phone_block" v-if="showMobile==2">
                    <p>获取报价手机号码</p>
                    <input type="tel" v-model="guest.mobile" maxlength="11" placeholder="请输入手机号码...">
                    <div class="submit" @click="submit_mobile">免费获取</div>
                </div>
            </div>
            <div class="btn_block" v-if="showMobile<2">
                <div class="prev" @click="goPrev">上一步</div>
                <div class="next" @click="goNext">下一步</div>
            </div>
        </div>
        <p class="copyright">版权：合肥金堡网络科技有限公司</p>
        <!-- 移动端提示 -->
        <div class="confim_block" v-if="confimShow">{{confim_text}}</div>
        <!-- 弹窗 -->
        <div class="modal-bg" v-show="showDialog">
            <div class="modal-container">
                <div class="modal-header">
                    <img src="/landing_static/image/tips.png" alt="">
                </div>
                <div class="modal-main">
                    <p>您的装修信息已提交</p>
                    <p>我们将快速为您计算预算</p>
                </div>
                <div class="modal-footer">
                    <!-- <div class="cancel" @click="cancel">取消</div> -->
                    <div class="confirm" @click="confirm">知道了</div>
                </div>
            </div>
        </div>
        <!-- picker弹出层 -->
        <van-popup v-model="showPicker" round position="bottom">
            <van-picker
                show-toolbar
                :columns="columns"
                @cancel="showPicker = false"
                @confirm="onConfirm"
            />
        </van-popup>
    </div>
</body>

<script src="/landing_static/js/vue.min.js"></script>
<script src="/landing_static/js/jQuery.js"></script>
<script src="./landing_static/js/vant.min.js"></script>
<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            guest: {
                m_area: '60平以下',
                m_style: '现代简约'
            }, //表单信息对象
            areaList: [], //省市数据
            cityList: [], //市级数据
            checkList: [], //省级对应的市级数据
            columns: [],
            acreageIndex: 0,
            styleIndex: 0,
            showMobile: 0, //移动端内容显示
            acreage: [
                {
                    text: '60平',
                    font: '以下'
                },
                {
                    text: '60平~',
                    font: '80平'
                },
                {
                    text: '80平~',
                    font: '100平'
                },
                {
                    text: '100平~',
                    font: '150平'
                },
                {
                    text: '150平~',
                    font: '200平'
                },
                {
                    text: '200平',
                    font: '以上'
                },
            ],
            houseStyle: [
                {
                    img: './landing_static/image/select_item1.png',
                    title: '现代简约'
                },
                {
                    img: './landing_static/image/select_item2.png',
                    title: '简约风格'
                },
                {
                    img: './landing_static/image/select_item3.png',
                    title: '田园风格'
                },
                {
                    img: './landing_static/image/select_item4.png',
                    title: '欧式风格'
                },
                {
                    img: './landing_static/image/select_item5.png',
                    title: '中式风格'
                },
            ],
            areaSelected: '', //选择的省级
            citySelected: '', //选择的市级
            styleSelected: '', //选择的装修风格
            visits: 1386, // 访问量
            material_cost: 0, //材料费
            labour_cost: 0, //人工费
            design_cost: 0, //设计费
            quality_cost: 0, //质检费
            total_cost: 0, //总价
            noAreas: false, //有无省级
            noCity: false, //有无市级
            noArea: false, //有无填写面积
            noStyle: false, //有无住房风格
            noMobile: false, //有无手机号
            realMobile: false, //真实手机号
            noName: false, //有无姓名
            showDialog: false, //弹窗显示
            showPicker: false,  //选择城市
            confimShow: false, //提示框显示
            confim_text: '', //提示框信息
            baseURL: 'http://server.yingku878.com/',
        },
        mounted() {
            var myRandom = setInterval(() => {
                this.startRandom()
            }, 300)
            this.getVisits()
            this.getAreaList()
            this.getCity()
            this.getAllCity()
        },
        beforeDestroy() {
            clearInterval(myRandom)
        },
        methods: {
            // 获取省市
            getAreaList() {
                $.post(`${this.baseURL}?r=api/index/district`, {}, res => {
                    if (res.code === 200) {
                        res.data.unshift({
                            province: '省/市'
                        })
                        this.checkList.unshift('市/区')
                        this.areaList = res.data
                        this.areaList.forEach(item => {
                            this.cityList.push(item.city)
                        })
                        this.areaSelected = this.areaList[0].province
                        this.citySelected = this.checkList[0]
                    }
                })
            },
            // 获取省市
            getCity() {
                let cname = returnCitySN.cname || '全国'
                let arr = cname.split('')
                let value = arr.includes('区')
                if (value) {
                    let result = arr.includes('市')
                    if (result) {
                        let province = cname.split('区')[0]
                        let city = cname.split('区')[1].split('市')[0]
                        this.guest.province = province
                        this.guest.city = city
                    } else {
                        this.guest.province = cname
                        this.guest.city = ""
                    }
                } else {
                    let result = arr.includes('省')
                    if (result) {
                        let province = cname.split('省')[0]
                        let city = cname.split('省')[1].split('市')[0]
                        this.guest.province = province
                        this.guest.city = city
                    } else {
                        // this.showConfim('定位失败')
                        this.guest.province = ""
                        this.guest.city = ""
                    }
                }
            },
            // 获取全国并格式化数据
            getAllCity() {
                $.post(`${this.baseURL}?r=api/index/district`, {}, res => {
                    if (res.code === 200) {
                        // console.log(res.data)
                        let arr = res.data
                        let newArr = []
                        arr.forEach(item => {
                            newArr.push({
                                text: item.province,
                                children: []
                            })
                        })
                        let cityArr = []
                        let result = []
                        arr.forEach((item, index) => {
                            cityArr.push(item.city)
                            this.$set(result, index, [])
                        })
                        cityArr.forEach((item,index) => {
                            item.forEach(v => {
                                result[index].push({
                                    text: v
                                })
                            })
                        })
                        newArr.forEach((item, index) => {
                            item.children = result[index]
                        })
                        // console.log(newArr)
                        this.columns = newArr
                    }
                })
            },
            // 获取访问量
            getVisits() {
                let value = Number(localStorage.getItem('visits'))
                if (value) {
                    this.visits = value + 1
                    localStorage.setItem("visits", this.visits)
                } else {
                    localStorage.setItem("visits", this.visits)
                }
                // 兼容ie数组没有flat方法
                if (!Array.prototype.flat) {
                    Array.prototype.flat = function (count) {
                        let c = count || 1;
                        let len = this.length;
                        let exe = [];
                        if (this.length == 0) return this;
                        while (c--) {
                            let _arr = [];
                            let flag = false;
                            if (exe.length == 0) {
                                flag = true;
                                for (let i = 0; i < len; i++) {
                                    if (this[i] instanceof Array) {
                                        exe.push(...this[i]);
                                    } else {
                                        exe.push(this[i]);
                                    }
                                }
                            } else {
                                for (let i = 0; i < exe.length; i++) {
                                    if (exe[i] instanceof Array) {
                                        flag = true;
                                        _arr.push(...exe[i]);
                                    } else {
                                        _arr.push(exe[i]);
                                    }
                                }
                                exe = _arr;
                            }
                            if (!flag && c == Infinity) {
                                break;
                            }
                        }
                        return exe;
                    };
                }
            },
            // 省级下拉监听
            areaChange(e) {
                // console.log(e.target.value)
                this.noAreas = false
                let value = e.target.value
                let index = this.areaList.findIndex(item => item.province == value)
                let result = this.cityList.filter((v, i) => i == index)
                result.unshift('--')
                this.checkList = result.flat()
                this.citySelected = this.checkList[0]
            },
            // 市级下拉监听
            cityChange(e) {
                // console.log(e.target.value)
                this.noCity = false
            },
            // 装修风格监听
            styleChange() {
                this.noStyle = false
            },
            // 随机数
            startRandom() {
                this.material_cost = getRandom(12389, 190478)
                this.labour_cost = getRandom(12389, 87962)
                this.design_cost = getRandom(1789, 8645)
                this.quality_cost = getRandom(1678, 5436)
                this.total_cost = this.material_cost + this.labour_cost + this.design_cost + this.quality_cost

                function getRandom(start, end, fixed = 0) {
                    let differ = end - start
                    let random = Math.random()
                    return Number((start + differ * random).toFixed(fixed))
                }
            },
            // 获取焦点
            getfocus(type) {
                switch (type) {
                    case 'area':
                        this.noArea = false
                        break;
                    case 'mobile':
                        this.noMobile = false
                        this.realMobile = false
                        break;
                    case 'name':
                        this.noName = false
                        break;
                }
            },
            // 弹窗取消
            cancel() {
                this.showDialog = false
            },
            // 弹窗确认
            confirm() {
                this.showDialog = false
            },
            // 显示地区选择picker
            showPopup() {
                this.showPicker = true
            },
            // picker选中
            onConfirm(value) {
                // console.log(value)
                this.showPicker = false
                this.guest.province = value[0]
                this.guest.city = value[1]
            },
            // 切换面积
            acreageCheck(item,index) {
                // console.log(item);
                this.acreageIndex = index
                let area = item.text+item.font
                this.guest.m_area = area
            },
            // 切换风格
            styleCheck(item,index) {
                this.styleIndex = index
                this.guest.m_style = item
            },
            // 移动端点击下一步
            goPrev() {
                this.showMobile > 0
                    ? this.showMobile = this.showMobile*1-1
                    : false
            },
            // 移动端点击下一步
            goNext() {
                this.showMobile < 2
                    ? this.showMobile = this.showMobile*1+1
                    : false
            },
            //显示提示框
            showConfim(text, time) {
                let setTiem = time || 850
                this.confim_text = text
                this.confimShow = true
                setTimeout(() => {
                    this.confimShow = false
                }, setTiem)
            },
            // 移动端表单提交
            submit_mobile() {
                if (!this.guest.city) {
                    this.showConfim('请选择城市')
                    return false
                }
                if (!this.guest.mobile) {
                    this.showConfim('请输入手机号')
                    return false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.mobile))) {
                    this.showConfim('请输入正确的手机号')
                    return false
                }
                let obj = {
                    name: '',
                    mobile: this.guest.mobile,
                    province: this.guest.province,
                    city: this.guest.city,
                    area: this.guest.m_area,
                    style: this.guest.m_style,
                    type: 1
                }
                // console.log(obj)
                // return false
                $.ajax({
                    url: `${this.baseURL}?r=api/user/customer`,
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: (res) => {
                        // console.log(res)
                        this.showConfim('提交成功')
                    },
                    error: (errore) => {
                        // console.log(errore);
                    }
                });
            },
            // 表单提交
            submit() {
                if (this.areaSelected == '省/市') {
                    this.noAreas = true
                    return false
                } else {
                    this.noAreas = false
                }
                if (this.citySelected == '市/区' || this.citySelected == '--') {
                    this.noCity = true
                    return false
                } else {
                    this.noCity = false
                }
                if (!this.guest.area) {
                    this.noArea = true
                    return false
                } else {
                    this.noArea = false
                }
                if (!this.styleSelected) {
                    this.noStyle = true
                    return false
                } else {
                    this.noStyle = false
                }
                if (!this.guest.mobile) {
                    this.noMobile = true
                    return false
                } else {
                    this.noMobile = false
                }
                if (!(/^1[3456789]\d{9}$/.test(this.guest.mobile))) {
                    this.realMobile = true
                    return false
                } else {
                    this.realMobile = false
                }
                if (!this.guest.name) {
                    this.noName = true
                    return false
                } else {
                    this.noName = false
                }
                let obj = {
                    name: this.guest.name,
                    mobile: this.guest.mobile,
                    province: this.areaSelected,
                    city: this.citySelected,
                    area: this.guest.area,
                    style: this.styleSelected,
                    type: 1
                }
                // console.log(obj)
                $.ajax({
                    url: `${this.baseURL}?r=api/user/customer`,
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    success: (res) => {
                        // console.log(res)
                        this.showDialog = true
                    },
                    error: (errore) => {
                        // console.log(errore);
                    }
                });
            }
        }
    })
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?24a6f274483cf1778e5dbe1fe669f221";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
</script>

</html>