#app {
    position: relative;
    min-width: 1400px;
    height: 100vh;
    background: url("../image/banner.png") no-repeat center / 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 200;
    padding-left: 16%;
    background: #1f2741;
    opacity: 0.8;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 54px 0 90px;
    background: #fff;
}

.content > form {
    width: 27rem;
    margin: 0 auto;
}   

.content .submit_btn {
    width: 18rem;
    margin: 0 auto;
    color: #fff;
    margin-top: 2rem;
    font-size: 18px;
    line-height: 3rem;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(90deg, #1584FE, #41A8FE);
}

.el-select {
    display: block;
}

/* 弹窗 */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 58px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    height: 56px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
}

.modal-footer > div {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.modal-footer .confirm {
    width: 230px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background: linear-gradient(90deg, #1584FE, #41A8FE);
    border-radius: 30px;
}

.modal-main {
    color: #333537;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    padding: 15px 40px 24px;
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 0.5rem;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 15px;
    white-space: nowrap;
}
