#app {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 8rem;
    background: url('../image/house_landing/bg.png') no-repeat center / 100% 100%;
}

.banner {
    position: relative;
}

.banner>img {
    width: 100%;
    display: block;
}

.content {
    text-align: center;
    padding: 0 1.1rem;
}

.content>h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1.8rem auto 1.8rem;
}

.content .flex_block {
    display: flex;
    align-items: baseline;
    padding: 1.3rem 0 0.2rem;
    border-radius: 9px;
    background: #fff;
}

.content .flex_block>p {
    color: #101D37;
    font-size: 17px;
    font-weight: bold;
    margin-right: 0.8rem;
    letter-spacing: 1px;
    white-space: nowrap;
}

.content .item_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
}

.content .item_block::after {
    content: "";
    width: 31%;
}

.content .item_block .item {
    color: #101D37;
    width: 31%;
    font-size: 15px;
    line-height: 34px;
    white-space: nowrap;
    margin-bottom: 0.8rem;
    border-radius: 3rem;
    background: #F5F7F8;
}

.content .item_block .on {
    color: #3072F6;
    background: #EAF0FE;
}

.content .show_more {
    color: #7D90B2;
    margin: 5px auto 0;
    line-height: 40px;
    border-radius: 4px;
    letter-spacing: 1px;
    background: #F5F7F8;   
}

.content .select_block {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content .select_block .cash_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    color: #666;
    font-size: 16px;
    line-height: 36px;
    padding-right: 0.5rem;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #C2CCE4;
}

.content .select_block .cash_block::after {
    content: 'W';
    display: block;
    position: absolute;
    right: 0.8rem;
    font-size: 15px;
    font-weight: bold;
}

.content .select_block .my_border {
    width: 2.5rem;
    height: 1.5px;
    margin: 0 0.9rem;
    background: #C2CCE4;
}

.content .input_block {
    width: 85%;
    margin: 0 auto;
}

.content .input_block .el-input:first-child {
    margin-bottom: 1.8rem;
}

.submit_btn {
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 100%;
    max-width: 750px;
    font-size: 20px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(90deg, #1585FF, #3DA9FF);
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 4.5rem;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 13px;
    white-space: nowrap;
}