body {
    background: #F7F7F7;
}

#app {
    position: absolute;
    overflow-x: hidden;
    padding-bottom: 8rem;
    /* position: relative; */
}

.banner {
    position: relative;
    z-index: -2;
}

.banner>img {
    width: 100%;
    display: block;
}

.content {
    position: relative;
    /* padding: 0 1rem; */
    text-align: center;
    padding: 0 2.3rem;
}

.content::before{
    content: "";
    /* display: block; */
    position: absolute;
    top: 0.6rem;
    left: 50%;
    width: 140%;
    height: 5rem;
    border-radius: 50%;
    background: #3DA9FF;
    background: #F7F7F7;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content>h3 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 auto 1.8rem;
}

.content .my_block {
    position: absolute;
    top: 0;
}

.content .input_block {
    display: flex;
    align-items: center;
    line-height: 2.7rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #ECEDEF;
}

.content .input_block>p{
    display: flex;
    color: #3E4759;
    width: 5.4rem;
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
    white-space: nowrap;
}

.content .input_block>p::before {
    content: "*";
    color: #ff2d55;
    font-size: 18px;
    margin-left: 0.4rem;
    margin-right: 0.26rem;
}

.submit_btn {
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(90deg, #1585FF, #3DA9FF);
}

.confim_block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.8rem;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
}

.el-input {
    flex: 1;
}

.el-input__inner {
    border: none;
    padding: 0 10px 0 5px;
}

.van-radio__label {
    margin-left: 5px;
    font-size: 0.8rem;
}

.van-radio--horizontal {
    margin-right: 10px;
}

.copyright {
    position: absolute;
    left: 50%;
    bottom: 5rem;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 13px;
    white-space: nowrap;
}