#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    /* max-width: 1200px; */
    background: url("/landing_static/image/background.png") no-repeat center /
        100% 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 2.6% auto 0;
    min-width: 1100px;
    background: #fffefc;
}

.container > div {
    width: 50%;
}

.container .left {
    padding: 0 50px;
    border-right: 1px solid #dddddd;
}

.container .left .title {
    display: flex;
    align-items: flex-end;
    padding: 50px 0 40px;
}

.container .left .title .main {
    font-size: 19px;
    letter-spacing: 1px;
    margin-right: 22px;
}

.container .left .title .off {
    font-size: 13px;
}

.container .left .title .off > span {
    color: #ff3734;
    margin: 0 4px;
}

/* 表单 */

.container .left .form_block {
    /* background: #999; */
}

.container .left .form_block .item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.container .left .form_block .item .label {
    display: flex;
    align-items: flex-start;
    color: #333537;
    font-size: 16px;
    margin-right: 16px;
}

.container .left .form_block .item .label::after {
    content: "*";
    color: #ff2d55;
    font-size: 18px;
    margin-left: 4px;
}

.container .left .form_block .item .input_block {
    position: relative;
    display: flex;
    align-items: center;
    width: 265px;
    border: 1px solid #dddddd;
    padding: 0 8px 0 3px;
}

.container .left .form_block .item .input_block.warn {
    border: 1px solid #f66;
}

.container .left .form_block .item .select_block {
    position: relative;
    display: flex;
    align-items: center;
    width: 265px;
}

.container .left .form_block .item .warning {
    position: absolute;
    bottom: -18px;
    color: #f66;
    font-size: 12px;
}

.container .left .form_block .item .select_block > div {
    flex: 1;
    border: 1px solid #dddddd;
}

.container .left .form_block .item .select_block > div.warn {
    border: 1px solid #f66;
}

.container .left .form_block .item .select_block > div:first-child {
    margin-right: 14px;
}

.container .left .form_block .item .input_block > input,
select {
    color: #333;
    width: 100%;
    padding: 9px 10px;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}

.container .left .form_block .item .input_block.area::after {
    content: "m²";
    color: #999;
    font-size: 14px;
}

/* 右侧 */

.container .right {
    text-align: center;
}

.container .right .title {
    font-size: 19px;
    letter-spacing: 1px;
    padding: 50px 0 26px;
}

.container .right .title > span {
    display: inline-block;
    width: 120px;
    color: #ff2d54;
    font-size: 25px;
}

.container .right .content {
    width: 65%;
    margin: 0 auto 100px;
    padding: 30px 0;
    line-height: 50px;
    border: 1px solid #dddddd;
}

.container .right .content > p {
    font-size: 16px;
}

.container .right .content > p > span {
    display: inline-block;
    width: 86px;
    color: #ff3734;
    font-size: 17px;
}

/* 提交按钮 */

.container .submit_block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background: #fff;
}

.container .submit_block .content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 17px;
    line-height: 23px;
    background: #2fde82;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.container .submit_block .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    width: calc(160px - 6px); /* 减去边框的大小 */
    height: calc(160px - 6px); /* 减去边框的大小 */
    border: 3px solid #fff;
    z-index: 0;
}

.container .submit_block .circle:first-child {
    animation: circle-opacity 2s infinite;
}

.container .submit_block .circle:nth-child(2) {
    animation: circle-opacity 2s infinite;
    animation-delay: 0.3s;
}

.container .submit_block .circle:nth-child(3) {
    animation: circle-opacity 2s infinite;
    animation-delay: 0.6s;
}
.container .submit_block.danger .circle {
    background: linear-gradient(
        45deg,
        #ff0000 0%,
        #ffb600 11%,
        #fff600 22%,
        #a5ff00 33%,
        #00a9ff 44%,
        #0400ff 55%,
        #8a00fc 66%,
        #ff00e9 77%,
        #ff0059 88%,
        #ff0000 100%
    );
}

.container .submit_block.danger .circle {
    border-color: #2fde82;
}

@keyframes circle-opacity {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(1);
    }
}

/* 弹窗 */

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 58px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.modal-header {
    height: 56px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
}

.modal-footer > div {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.modal-footer .confirm {
    width: 230px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background: #36e083;
    border-radius: 30px;
}

.modal-main {
    color: #333537;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    padding: 15px 40px 24px;
}

.copyright {
    position: absolute;
    bottom: 5%;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
}

/* 移动端适配 */

@media screen and (max-width: 960px) {
    #app {
        max-width: 750px;
        margin: 0 auto;
        background: url("/landing_static/image/bg.png") no-repeat center / 100% 100%;
    }

    .container {
        display: none;
    }

    .loaction {
        display: flex !important;
    }

    .mobile_block {
        display: block !important;
        position: relative;
        width: 85%;
        margin-top: 26%;
    }

    .mobile_block::before {
        content: "";
        display: block;
        width: 100%;
        height: 2.6rem;
        border-radius: 50% 50% 0 0;
        background: #fff;
        opacity: .5;
    }

    .mobile_block .title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 1.3rem;
        letter-spacing: 1.5px;
        padding: .25rem 7% .95rem;
        background: url('/landing_static/image/title.png') no-repeat center / 100% 100%;
    }

    .mobile_block .content {
        padding: 1.5rem 0 2rem;
        border-radius: 0 0 8px 8px;
        background: rgba(255, 255, 255, 0.5);
    }

    /* 房屋面积 */

    .mobile_block .content .area_block {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .mobile_block .content .area_block .area_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3%;
        margin-bottom: 1.6rem;
    }

    .mobile_block .content .area_block .area_item>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 5.2rem;
        height: 5.2rem;
        font-size: 1rem;
        color: #1E9F61;
        border-radius: 50%;
        border: 1px solid #9FBFBA;
        background: #fff;
    }

    .mobile_block .content .area_block .area_item .on {
        color: #fff;
        border: 0;
        background: linear-gradient(0deg, #37945A, #00AC69);
    }

    /* 房屋风格 */

    .mobile_block .content .style_block {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .mobile_block .content .style_block .style_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.3%;
        margin-bottom: 1.6rem;
    }

    .mobile_block .content .style_block .style_item>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 15px;
        color: #2B3C2D;
        position: relative;
    }

    .mobile_block .content .style_block .style_item>div>img {
        display: block;
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;
    }

    .mobile_block .content .style_block .style_item .on::after {
        content: "";
        display: block;
        position: absolute;
        right: 2px;
        bottom: 1.3rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        overflow: hidden;
        background: url('../image/success.png') no-repeat center / 100% 100%;
        background-color: #fff;
    }

    /* 获取报价 */

    .mobile_block .content .phone_block {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1.6rem;
    }

    .mobile_block .content .phone_block>p {
        color: #003941;
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .mobile_block .content .phone_block>input {
        width: 80%;
        background: #fff;
        padding: 0.7rem 1.5rem;
        font-size: 0.9rem;
        border: 1px solid #68AE85;
        border-radius: 6px;
        margin-bottom: 2rem;
    }

    .mobile_block .content .phone_block .submit {
        width: 90%;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        line-height: 3rem;
        letter-spacing: 2px;
        border-radius: 6rem;
        background: linear-gradient(90deg, #FD7D64, #E84F39);
    }

    /* 按钮 */

    .mobile_block .btn_block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 8%;
    }

    .mobile_block .btn_block>div {
        flex: 1;
        margin: 0 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 3rem;
        text-align: center;
        letter-spacing: 1.5px;
        border-radius: 4rem;
    }

    .mobile_block .btn_block .prev {
        color: #75998D;
        background: #C5DED4;
    }

    .mobile_block .btn_block .next {
        color: #fff;
        background: linear-gradient(90deg, #FD7D64, #E84F39);
    }
}