body {
    background: #ebebeb;
}

@media screen and (max-width: 320px) {
    body,
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    body,
    html {
        font-size: 18px;
    }
}

#app {
    padding-top: 2rem;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.chat_block {
    padding: 0 4%;
    overflow: hidden;
    margin-bottom: 0.8rem;
}

.chat_block .avatar {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    /* overflow: hidden; */
}

.chat_block .ask_word {
    width: 72%;
    background: #3ba4e5;
    color: #fff;
    padding: 0.35rem 0.55rem;
    font-size: 0.9rem;
    border-radius: 0.33rem;
    line-height: 1.6;
    margin-left: 0.55rem;
}

.chat_block .sel_box {
    background: #fff;
    width: 72%;
    float: right;
    margin-right: 0.55rem;
    padding: 0 6% 0.7rem;
    overflow: hidden;
    border-radius: 0.33rem;
}

.chat_block .sel_box .on::after{
    content: "";
    position: absolute;
    bottom: 1rem;
    right: 0;
    width: 0.88rem;
    height: 0.88rem;
    background: url('../image/insurance_landing/check.png') no-repeat center / 100% 100%;
}

.chat_block .sel_box li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    margin: .7rem 12% 0 0;
}

.chat_block .sel_box li:nth-child(3n) {
    margin-right: 0;
}

.chat_block .sel_box li p {
    font-size: 0.66rem;
}